@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta Mahee', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;

    --swiper-navigation-size: 34px !important;

}

/* html,body {
    overflow-x: clip;
} */

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1f2937;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: linear-gradient(#590c0a, #e40303);
  }

.section{
    margin-top: 10vh;
}
/* Before animation*/
[data-aos="my-animation"] {
    transform: rotate(0) scale(0.6);
    opacity: 0;
    transition-property: transform, opacity;
}
/* After animation */
[data-aos="my-animation"].aos-animate {
    transform: rotate(360deg) scale(1);
    opacity: 1; 
}


/* Preload */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0);
}
.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
}
/* End preload */

/* !! navbar */
nav{
    position: fixed !important;
    height: 15vh;
    display: flex;
    z-index: 99;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(90px);
    color: #fff;
    padding: 2px 50px;
    /* justify-content: space-around; */
}

.navbar-brand-img{
    width: 100%;
    height: 100%;
    margin-top: 1vh;
    margin-left: 3vw;
}
.navbar-brand{
    width: 14%;
    margin-top: 15vh;
    margin-left: 1vw;
}

.navbar-toggler {
    background-color: #fff !important;
}

.navbar-item{
    display: flex;
    width: 67%;
}
ul.navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5vw;
}
ul.navbar-nav .nav-item{
    font-size: 18px;
    font-weight: 500;
}
.menu-title:hover {
    transition: .3s;
    color: red !important; 
}
.navbar-nav, li a:hover{
    transition: .3s;
    color: red !important; 
}
.nav-item{
    justify-content: space-between;
}

.nav-socmed{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    gap: .6rem;
    align-items: center;
}
.nav-socmed .fa-brands{
    font-size: 19px;
}
.nav-socmed a:hover .fa-brands{
    transition: .3s;
    color: coral !important;
    scale: 1.1;
}
.nav-socmed p{
    display: none;
    width: 0;
}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu{
    width: 45vh;
    padding: 0 !important;
    background-image: linear-gradient(rgb(46, 43, 43), rgb(8, 8, 8)) !important;
    border: 1px solid rgb(230, 229, 229) !important;
}
.dropdown-menu li a{
    color: rgb(219, 218, 218) !important;
    height: 7vh;
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover {
    transition: .5s;
    background-color: rgb(160, 160, 160);
    color: rgb(70, 64, 64) !important;
}
/* 
nav.sticky {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(90px);
    color: #fff;
}

nav.sticky ul li a,
nav.sticky .search input::-webkit-input-placeholder {
    color: #fff;
    font-weight: 400;
} */
/* !! End Navbar */


/* !! Header Content */


.v-header {
    height: 110vh;
    display: flex;
    align-items: center;
    color: #fff;
    background-image: url("/img/town.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
}

.header-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
    background-size: cover;
}

.header-content{
    margin-top: 12vh;
}
.header-h6{
    justify-content: flex-end;
    margin-right: 3vw;
    display: flex;
    letter-spacing: 1px;
    font-size: 15px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.733);
    margin-top: 27vh;
    text-align: right;
}


.header-content-title{
    text-align: center;
}
.header-content .red-dot{
    width: 40px;
    margin-top: -10vh;
}
.header-content h2{
    letter-spacing: 5px;
    font-size:32px;
    font-weight:700;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.733);
    /* position: relative; */
}
.header-content h4{
    letter-spacing: 6px;
    font-size:17px;
    /* position: relative; */
}
.header-content {
    z-index: 2;
}
.header-content h1 {
    font-size: 100px;
    margin-bottom: 0;
    font-family: 'Great Vibes', cursive;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0;
}

.header-content-logo{
    margin-top: 7vh;
}
.logo-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    margin-top: 2vh;
}
.logo-1 .logo-col-1{
    width: 6%;
    position: relative;
}
.logo-1 p{
    font-size:15px;
    font-weight:600;
}

.circlenyaya{
    display: flex;
    gap: .4rem;
    justify-content: center;
    margin-top: 5vh;
    /* position: relative; */
}
.circlenyaya .circle-1{
    width:6px;
    height:6px;
    border-radius:30px;
    background:white
}
/* !! End Header */

.all-galery {
    margin: 5rem 0;
}

.line-gallery {
    margin-bottom: 5rem; 
    margin-right: 4rem;
    width: 40rem;
    height: 2px;
    background-color: rgb(148, 148, 148);
    float: right;
}

.container-gallery {
    margin-top: -5rem;
}

.gallery h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 120px;
    -webkit-text-stroke: 2px rgba(128, 128, 128, 0.212);
    color: white;
    letter-spacing: 15px;
}

.container-gallery h3 {
    display: flex;
    font-size: 45px;
    letter-spacing: 5px;
    color: rgb(85, 85, 85);
}

.swiper {
    margin-top: -16rem !important;
    margin-left: 20rem !important;
    width: 80% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    height: 250px !important;
    }
    
.swiper-pagination {
    color: white !important;
} 
.swiper-button-next,.swiper-button-prev {
    border: 1px solid rgb(255, 1, 1) !important;
    padding: 25px !important;
    color: #333 !important;
    border-radius: 100px !important;
    width: 10px !important;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    transition: .6s linear;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 250px !important;
}
    

.imgleft .logo-about:hover{
    animation-iteration-count: 2;
    animation: nextarrow 1s infinite;
    transition: .6s linear;
}
@keyframes nextarrow {
    0%,100% {
        transform: translateY(-3%);
      }    
      50% {
        transform: translateY(2%);
      }
  }
/* !! End Gallery */

/* !! about us */
.container-about-us{
    background-color: rgb(9 7 7);
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-us-logo{
    width: 40%;
}
.about-logo{
    width: 100%;
}
.about-us-title h5{
    border-radius: 15px;
    width: 18%;
    background-color: #810305;
    color: #e0e0e0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.about-us-content{
    width: 50%;
    color: rgb(177, 177, 177);
}
.about-us-text{
    margin-top: 3vh;
}
.about-us-button{
    display: flex;
    gap: 2rem;
}
.about-button{
    margin-top: 2vh;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 23%;
    background-color: #ca0e0d;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.about-button:hover i{
    margin-left: .3rem;
    transition: .3s;
    background-color: #ca0e0d;
    color: #c7c7c7;
}
.about-button:hover, .about-button:nth-child(2):hover{
    background-color: #c7c7c7;
    transition: .2s;
}
.about-button:nth-child(2):hover{
    border: 2px solid #c7c7c7;
}
.about-button:hover a{
    color: #ca0e0d;
}
.about-button a{
    text-decoration: none;
    color: #c7c7c7;
    padding: 9px 0 9px 12px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}
.about-button i{
    transition: .5s;
    background-color: #c7c7c7;
    padding: 7px;
    border-radius: 50%;
    margin-right: 10px;
    color: #ca0e0d;
    cursor: pointer;
}
.about-button:nth-child(2){
    background-color: transparent;
    border: 2px solid #ca0e0d;
}
.about-button:nth-child(2) a{
    color: #ca0e0d;
    font-weight: bolder;
}
.about-button:nth-child(2) i{
    background-color: #ca0e0d;
    color: #c7c7c7;
}
/* !! end about us */


/* !! Container Handshake */
.container-handshake{
    padding: 0 !important;
    background-image: url("/img/handshake.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 93vh;
}
.handshake-overlay{
    width: 100%;
    height: 93vh;
    background: rgb(0 0 0 / 77%);
    background-size: cover;
}
.handshake-content {
    padding-top: 57vh;
    padding-left: 4vh;
}
.handshake-content h3{
    font-family: 'Montserrat', sans-serif;
    color: #c1c1c1;
    font-weight: 600;
    letter-spacing: .25vw;
    word-spacing: .2vw;
}
.handshake-content h3:nth-child(1){
    font-size: 5vw;
}
.handshake-content h3:nth-child(2){
    font-size: 2.7vw;
    font-weight: 900;
}
.handshake-dot{
    margin-left: -1vw;
    margin-top: 6vh;
    display: flex;
    width: 5vw;
    justify-content: space-between;
}
.dot-1{
    width:1.3vh; 
    height:1.3vh;
    margin-left: 1vw;
    border-radius:30px;
    background-color: #c1c1c1;
}
/* !! End Container Handshake */


/* !! Container Our-team */
.container-our-team{
    background-color: rgb(145, 143, 143);
    min-height: 110vh;
    padding: 0 !important;
}
.our-team-title{
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 5px;
}
.our-team-title h1{
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 55px;
    text-shadow:1px 3px 3px rgba(0, 0, 0, 0.534);
    margin-top: 5%;
}
.our-team-img{
    margin-top: 25vh;
    min-width: 87%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.img-team{
    max-width: 210px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.our-team-img .img-1,.img-2,.img-3,.img-4,.img-5{
    color: white;
}
.our-team-img .img-2 .img-team{
    display: flex;
    justify-content: center;
}
.our-team-img .img-2 .textnya{
    text-align: center;
}
.our-team-img .img-1,.img-5{
    margin-top: -20vh;
}
.our-team-img .img-2,.img-4{
    margin-top: -10vh;
}
.our-team-img .img-3{
    margin-top: -23vh;
}
.img-team{
    transform: translateY(1vh);
    transition: .7s;
}
.img-team:hover{
    cursor: pointer;
    transform: translateY(-1vh);
    transition: .7s;
}
/* !! End Our-team */

/* !! Culture */
.culture{
    height: 70%;
}
.container-culture{
    min-height: 100vh;
    width: 100%;
}
.culture-title h3{
    margin-top: 15vh;
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 47%);
    text-align: center;
    word-spacing: .2vw;
}

.culture-card-container{
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}
.culture-card{
    height: 25vw;
    width: 25vw;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 7px;
    padding: 2vw;
    transition: .5s;
}
.culture-card:hover{
    transform: scale(1.07) !important;
    border: 1px solid rgba(211, 28, 28, 0.637) !important;
    background: white !important;
    transform: rotate(5deg) scale(1.1) !important;
    transition: .5s !important;
}
.culture-card:nth-child(1),
.culture-card:nth-child(3){
    height: 27vw;
}
.culture-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.culture-img1{
    width: 7vw;
}
.culture-card-content{
    text-align: center;
}
.culture-card-content h3{
    font-size: 1.7vw;
    font-weight: 500;
    margin-top: -3.5vh;
    margin-bottom: 3.5vh;
}
.culture-card-content p{
    word-spacing: .1vw;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.637);
}
/* !! End Culture */


/* !! Product */
.product{
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vw;
}

.img-ilustration {
    padding: 0 !important;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/617/450/small_2x/innovative-idea-concept-free-vector.jpg");
    background-size: cover;
    height: 50vh;
}
.product-title{
    margin-top: 3rem;
    display: flex;
    margin-left: 3vw;
}
.product-title h3{
    font-size: 2.7vw;
    font-family: 'Poppins', sans-serif;
}
.product-title h3:nth-child(1){
    font-weight: 700;
    color: red;
}
.product-title h3:nth-child(2){
    font-weight: 700;
    margin-left: .3vw;
}
.product-header hr{
    margin-top: -.1vh;
    margin-left: 3vw;
    width: 5%;
    border: 1px solid red;
    opacity: 100%;
    margin-bottom: 3rem;
}


.our-product,.our-product-1 {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    margin-left: 2rem;
}
.our-product-1 {
    margin-top: 3rem;
}
.cardn{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.cardn img {
    width: 280px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.product-card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.774);
    /* transform: translateY(-1vw); */
    animation: product-card 3s infinite;
    transition: .7s linear;
    cursor: pointer;
}
@keyframes product-card {
    0%,100% {
        transform: translateY(-15%);
    }    
    50% {
        transform: translateY(5%);
    }
}

.product-img1{
    width: 7vw;
    border-radius: 10px 10px 0 0;
}
.product-card-content{
    width: 100%;
    cursor: pointer;
}
.product-card-content h6{
    font-size: .8vw;
    font-weight: 800;
    text-align: center;
    margin-top: 2.3vh;
    cursor: pointer;
}
/* !! End Product */

/* Start Solution */
.all-solution{
    padding-left: 3.5rem;
    width: 90%;
    margin-top: 43rem !important;
    margin-left: auto;
    margin-right: auto;
}

.container-solution{
    padding: 0 !important;
    background-image: url("https://www.inspiryconsultant.com/wp-content/uploads/2022/03/pexels-fauxels-3183197-scaled-1.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;
    background-size: 100rem 100rem;
    margin-top: 30vh;
}

.solution-overlay {
    height: 150vh;
    background: rgba(0, 0, 0, 0.8);
}

.solution-circle {
    display: flex;
    gap: .6rem;
    margin-top: 2rem;
}
.circle-1 {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 30px;
}

.btn-contact{
    margin-top: 3.5rem;
    width: 210px;
    height: 45px;
    background: #9C2C2C;
    border-radius: 5px;
    cursor: pointer;
}
.btn-contact:hover{
    animation: btncontact 2s infinite;
    transition: .5s;
}
@keyframes btncontact {
    0%,100% {
        transform: translateY(-10%);
    }    
    50% {
        transform: translateY(15%);
    }
}
.title-btn, .title-btn i{
    cursor: pointer;
}

.column-line {
    width: 100%;
    height: 6px;
    background:#FF0000;
    margin-top: 5rem;
    transition: .7s;
}

.column:hover .column-line {
    width: 0%;
    transition: .7s;
    /* animation: columnline .7s; */
}
/* @keyframes columnline {
    0%{
        width:100%;
    }
    100%{
        width:0%;
    }
} */



/* End Solution */

/* Start our partner */
.our-partner-img {
    display: flex; 
    justify-content:center;
    gap: 6rem;
    margin-top: 5rem;
}
.our-partner-logo {
    margin: 5rem;
}
/* .our-partner-logo h1{
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 43px;
    font-weight: 600;
    text-shadow: 5px 2px #3333332d;
} */
.colomn-img-our img {
    width: 110px;
}
.colomn-img-our:nth-child(6) {
    margin-top: 2rem
}
.colomn-img-our img:hover{
    animation: nextarrow 2s infinite;
    transition: .6s linear;
}
.colomn-img-our h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: #474747;
    font-weight: 700;
    text-align: center;
    margin-top: 3vh;
}

.our-partner-logo .inline {
    margin-left: 8rem;
    width: 85%;
    height: 2px;
    background: #000;
    margin-top: -.1rem;
}
/* End our partner */

/* !! our location */
.container-map{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
/* !! end our location */

/* !! footer */
.container-footer{
    background-color: #070707;
    width: 100%;
}
.sign-me-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-me-up hr{
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    width: 33%;
    display: flex;
}
.sign-form{
    width: 30%;
    margin-top: auto;
}
.sign-form p a{
    color: #ff0807;
    text-decoration-color: #ca0e0d;
    font-weight: 500;
    cursor: pointer;
}
.sign-form p a:hover{
    color: #b7b7b7;
}
.sign-email-form form{
    display: flex;
    justify-content: center;
}
.sign-email-form form input{
    display: block;
    border: none;
    background-color: rgb(224, 224, 224);
    padding: 7px;
    border-radius: 20px 0 0 20px;
    width: 75%;
    height: 7vh;
    color: #3b3b3b;
    font-size: 17px;
}
.sign-email-form form input:focus{
    outline: 2px solid #810305;
}
.sign-form h2, .sign-form p{
    text-align: center;
}
.sign-me-button{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ca0e0d;
    color: #c7c7c7;
    border-radius: 0 20px 20px 0;
    padding: 7px;
}
.sign-me-button:hover{
    background-color: #590c0a;
}
.footer-logo{
    width: 50%;
}
.footer-logo img{
    width: 75%;
}

.address-title{
    width: 50%;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.footer-address{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.address-content{
    width: 45%;
}
.address-content h4{
    color: #8e0509;
    font-size: 23.5px;
    font-weight: 650;
}
.address-content p{
    color: #898989;
    font-weight: 300;
}

.container-footer-socmed{
    background-color: black;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-socmed-icon{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-contact h2{
    margin-bottom: 1rem;
}
.contact-card{
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}
.contact-card:nth-child(2){
    margin-top: 1.5rem;
}
.contact-card i{
    background-color: white;
    font-size: 1.7vw;
    height: 2.7vw;
    width: 2.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.contact-title h5{
    margin: 0;
    color: #a0070b;
    font-weight: 700;
}
.contact-content p{
    margin: 0;
}

.footer-link{
    display: flex;
    align-items: center;
}
.link-content{
    margin-top: .7rem;
}
.link-content a, .contact-content a{
    display: block;
    text-decoration: none;
    color: #898989;
    width: max-content;
    margin-top: 0.3rem;
}
.link-content a:hover, .contact-content a:hover{
    color: #c8c8c8;
    text-decoration: underline;
    text-decoration-color: #810408;
}
.address-title h2, .footer-contact h2, .link-title h2{
    color: #e0e0e0;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: .06rem;
}

.footer-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 95%;
}
.footer-socmed-icon i, .footer-socmed-icon a{
    color: #e0e0e0;
}
.footer-icon a{
    cursor: pointer;
    text-decoration: none;
    background-color: #141414;
    border-radius: 50%;
    width: 2.7vw;
    height: 2.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.footer-icon i{
    cursor: pointer;
    font-size: 1.7vw;
}
.footer-icon a:hover{
    background-color: #810305;
    transition: .3s;
}
/* !! end footer */

/* !! back to top */
.back-to-top{
    display: none;
	position:fixed;
	width:3vw;
	height:6vh;
	bottom:40px;
	right:40px;
	background-color:#ca0e0d;
    /* border: 1px solid white; */
	border-radius:7px;
	text-align:center;
    font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
    transition: .4s;
    cursor: pointer;
}
.back-to-top:hover{
    background-color: #810305;
    transition: .3s;
}
.back-to-top i{
    color: #f3f3f3;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
/* .whatsapp-logo{
	position:fixed;
	width:3.5vw;
	height:3.5vw;
	bottom:40px;
	right:40px;
	background-color:#25d366;
    border: 1px solid white;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
    transition: .4s;
    cursor: pointer;
}
.whatsapp-logo:hover{
    transform: translateY(-2vh);
    transition: .5s;
}
.whatsapp-logo i, .whatsapp-logo a{
    color: white;
    font-size: 1.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
} */
/* .whatsapp-logo{
    width: 3vw;
    height: 3vw;
    background: #25D366;
    border-radius: 100px;
    border: 1px solid grey;
    margin-left: -7vw;
    transition: .4s;
    position: absolute;
} */
/* !! End whatsapp logo */

/* 
@media screen and (min-width: 1280px) and (max-width: 1440px){
    .our-team-img{
        justify-content: center;
        gap: 2rem;
    }

    .circlepink{
        position:relative;
        left: -10vw;
    }
    .circlered{
        left: -9vw;
    }
    .logo-about{
        left: -15vw;
    }
}


@media screen and (max-width: 1024px) {
    .navbar-brand {
        margin-top: -.1rem;
        width: 130px;
    }
    .navbar-nav{
        margin-left: 2rem;
    }
    .navbar.collapse {
        display:flex;
    }
    .navbar.collapsing,
    .navbar.show {
        padding: 0;
        margin-top: 1rem;
        background:rgba(0, 0, 0, 0.549) !important;
    }

    .gallery-card-container{
        max-height: 100%;
    }
    .gallery-card-top{
        flex-wrap: wrap;
        display: flex;
        gap: 7vw;
    }
    .gallery-card-bottom{
        flex-wrap: wrap;
        display: flex;
        gap: 7vw;
    }
    .gallery-card {
        max-width: 45%;
    }
    .gallery-img img {
        width: 100%;
    }
    .gallery-content h6{
        font-size: 24px;
    }


    .container-about-us{
        max-height: 140vh;
        margin-bottom: 13rem;
    }
    .colomn-img-our img{
        max-width: 120px;
    }
    .colomn-img-our h2{
        font-size: 12px;
    }
    .imgleft{
        display: none !important;
        width: 0;
    }
    .about-us-title h1:nth-child(1){
        font-size: 65px !important;
    }
    .about-us-title h1:nth-child(2){
        font-size: 60px !important;
    }
    .circlenyaya .circle1{
        width: 12px !important;
        height: 12px !important;
    }
    .about-us-content{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-us-text{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .about-us-text p{
        font-size: 23px !important;
    }

    .handshake-content{
        padding-top: 50vh;
    }
    .handshake-content h3:nth-child(1) {
        font-size: 7vw;
    }
    .handshake-content h3:nth-child(2) {
        font-size: 5vw;
    }
    .handshake-dot{
        width: 7vw;
    }
    .title-btn {
        padding: 0 !important;
        margin: 10px 0!important;
        text-align: center;
    }
    

    .our-team-title h1{
        font-size: 10vw !important;
    }
    .our-team-img {
        display: block;
        width: 100%;
        margin-top: 5vh;
        padding-bottom: 10vh;
    }
    .our-team-img .img-1,.img-2,.img-3,.img-4,.img-5{
        margin-top: 2vh !important;
        min-height: 100%;
    }
    .img-team{
        max-width: 60%;
    }
    .textnya h4{
        margin-left: 0 !important;
        text-align: center;
        font-size: 6vw;
    }
    .textnya p{
        font-size: 3vw !important;
    }


    .container-culture{
        height: auto;
    }
    .culture {
        height: auto;
    }    
    .culture-title h3{
        margin-top: 7vh;
        font-size: 6vw;
    }
    .culture-card-container{
        display: block;
        width: 90%;
        height: auto;
        margin-top: 7vh;
    }
    .culture-card{
        margin-left: auto;
        margin-right: auto;
        width: 50% !important;
        height: 80% !important;
    }
    .culture-card:nth-child(2),
    .culture-card:nth-child(3){
        margin-top: 3vh;
    }
    .culture-card-img{
        padding: 2vw;
        display: flex;
    }
    .culture-img1{
        width: 13vw;
        justify-content: center;
    }
    .culture-card-content h3{
        font-size: 3.7vw;
        margin-top: 1vh;
    }
    .culture-card-content p{
        font-size: 2.3vw;
        padding-bottom: 5rem;
    }
    

    .product {
        height: auto;
    }
    .product-header hr{
        width: 10% !important;
    }
    .product-card-container{
        display: grid;
        gap: 3 rem;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        min-height: 100vh;
        grid-template-columns: 300px 300px;
        gap: 15px;
    }
    .product-card-img img{
        width: 300px;
    }
    .product-card-content h6 {
        font-size: 1.5vw;
    }
    .product-title h3{
        font-size: 4.7vw;
    }
    .product-top{
        margin-top: 1rem;
    }
    .product-card {
        width: 100%;
        height: 280px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    }


    .container-solution{
        position: relative;
        margin-top: 10vh;
    }
    .all-solution{
        padding-left: 1rem;
        width: 95%;
    }
    .our-client{
        gap: 1rem;
        margin-left: auto !important;
    }
    .textnya p{
        font-size: 2.1vw !important;
    }
    .column{
        width: 27%;
        height: 50%;
    }
    .column-line{
        margin-top: 4.6rem;
    }
    

    .swiper-slide img {
        display: block;
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    .colomn-img-our img{
        max-width: 151px;
    }
    .colomn-img-our h2{
        font-size: 12px;
    }
    .our-partner-logo .inline {
        margin-left: 1rem;
        width: 90%;
        height: 2px;
        background: #000;
        margin-top: -.1rem;
    }

    .container-footer{
        display: block;
    }
    .footer-top{
        display: flex;
        gap: 7rem;
    }
    .footer-socmed-content{
        gap: 0;
    }
    .footer-socmed{
        margin: 0;
        margin-top: 2vh;
        padding-left: 1vw;
    }
    .footer-socmed-btn{
        width: 4vw;
        height: 4vw;
        margin-left: -5vw;
    }
    .footer-socmed-btn i,
    .footer-socmed-btn a {
        font-size: 1.9vw;
    }

    .whatsapp-logo{
        width: 5vw;
        height: 5vw;
    }
    .whatsapp-logo i, .whatsapp-logo a {
        font-size: 2.9vw;
    }
}


@media only screen and (max-width: 991px) and (max-height: 1024px){
    .navbar-brand-img {
        display: flex !important;
        margin-top: 1vh;
        margin-left: 3vw;
        width: 100%;
        height: 100%;
    }

    .nav-socmed .fa-brands{
        font-size: 29px !important;
        margin-left: -3rem !important;
    }
    .nav-socmed p{
        font-size: 10px !important;
    }
    .nav-socmed{
        justify-content: space-between;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-socmed a{
        display: flex;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.815);
    }
    .navbar.collapsing,
    .navbar.show {
        padding: 0;
        margin-top: 1rem;
        background:rgba(0, 0, 0, 0.549) !important;
        border-radius: 10px;
    }
    ul.navbar-nav{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .nav-socmed p{
        display: block;
    }


    .imgleft{
        display: none !important;
    }
    .gallery-card {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .container-about-us {
        margin-bottom: 38rem;
    }
    .gallery-card-top,.gallery-card-bottom {
        display: grid;
        width: 100%;
        padding: 0;
        min-height: 100vh;
        justify-content: center;
        grid-template-columns: 900px !important;
        gap: 15px;
    }
    .gallery-card-bottom{
        margin-top: 3vh;
    }
    .gallery-content h6{
        text-align: center;
        font-size: 15px;
    }


    .handshake-dot {
        width: 8vw;
    }


    .culture {
        margin-bottom: 23rem;
    }
    .culture-card-container {
        display: grid;
        width: 100%;
        padding: 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        min-height: 100vh;
        grid-template-columns: 100%;
        gap: 15px;
    }
    .our-partner-logo .inline {
        width: 100%;
        height: 2px;
        background: #000;
        margin-top: -.1rem;
        margin-left: -0rem;
    }
    .product {
        margin-top:-1rem;
    }
    .product-title h3{
        font-size: 3.7vw;
    }
    .container-solution{
        margin-top: 8rem !important;
        height: 230vh !important;
    }
    .solution-overlay {
        height: 230vh !important;
        background: rgba(0, 0, 0, 0.8);
        }
    .product-top{
        margin-top: 1rem;
    }
    .product-card {
        width: 100%;
        height: 270px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    }
    .product-card-container{
        display: grid;
        width: 100%;
        padding: 0;
        min-height: 120vh;
        grid-template-columns: 220px 220px;
        gap: 15px;
    }
    .product-card-img img{
        width: 220px;
    }
    .product-card-content h6 {
        font-size: 1.5vw;
    }
    .btn-contact {
        width: 210px;
        position: absolute;
        top: 40rem !important;
        margin: 0;
        height: 45px;
        background: #9C2C2C;
        border-radius: 5px;
        cursor: pointer;
    }
    .title-btn {
        padding: 0 !important;
        margin: 10px 0!important;
        text-align: center;
    }
    .container-handshake{
        height: 53vh;
    }
    .handshake-overlay{
        width: 100%;
        height: 53vh;
        background: rgba(0, 0, 0, 0.5);
        background-size: cover;
    }
    .handshake-content {
        padding-top: 15vh;
    }
    .solution-overlay {
    height: 170vh;
    background: rgba(0, 0, 0, 0.8);
    }
    .swiper-slide img {
        display: block;
        width: 180px;
        margin: 0;
        padding: 0;
        height: 300px;
        object-fit: cover;
    }
    .swiper-slide {
        margin-left: 10rem !important;
    }
    .our-partner-img {
        display: grid !important;
        justify-content: center !important;
        text-align: center !important;
        align-items:center !important;
        gap: 5rem !important;
        margin-left: -0.1rem !important;
    }
    .our-team-img {
        display: block;
        width: 100%;
        margin-top: 5vh;
        padding-bottom: 10vh;
    }
    .our-team-img .img-1,.img-2,.img-3,.img-4,.img-5{
        margin-top: 2vh !important;
        min-height: 100%;
    }
    .img-team{
        max-width: 60%;
    }
    .textnya h4{
        margin-left: 0 !important;
        text-align: center;
        font-size: 6vw;
    }
    .textnya p{
        font-size: 3vw !important;
    }
    .culture-img1 {
        margin-top: -3rem !important;
    }
    .topnyaya {
        margin-top:-5rem;
    }
    .topnyaya5 {
        margin-top:-2.6rem !important;
    }
    .our-img-2 {
        margin-top:-4rem !important;
    }
    .colomn-img-our img {
        width: 185px;
    }
    .container-footer{
        display: block !important;
    }
    .our-client{
        margin-top: 8rem !important;
        display: grid !important;
        height: 60rem !important;
    }
    .column{
        display: grid !important;
        width: max-content !important;
        grid-template-columns: 500px !important;
    }
    .colomn-img-our:nth-child(1) h2 br:nth-child(1),
    .colomn-img-our:nth-child(1) h2 br:nth-child(3),
    .colomn-img-our:nth-child(1) h2 br:nth-child(4){
        display: none;
    }
    .colomn-img-our:nth-child(3) h2 br{
        display: none;
    }
    .colomn-img-our:nth-child(4) h2 br:nth-child(1){
        display: none;
    }
    .colomn-img-our:nth-child(5) h2 br:nth-child(1){
        display: none;
    }
    .column-topnya {
        margin-top: -7rem !important;
    }



    .footer-top{
        display: block !important;
    }
    .footer-address {
        width: 100%;
        height: 100%;
    }
    .footer-map{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .footer-socmed {
        margin-top: 2rem;
        height: 100px;
    }
    .footer-socmed-content{
        gap: 6vw;
    }
    .footer-socmed-btn{
        width: 6vw;
        height: 6vw;
        margin-left: 0;
    }
    .footer-socmed-btn i, .footer-socmed-btn a {
        font-size: 2.7vw;
    }


    .whatsapp-logo{
        width: 7vw;
        height: 7vw;
    }
    .whatsapp-logo i, .whatsapp-logo a {
        font-size: 4vw;
    }
}


@media only screen and (min-width: 357px) and (max-width:990px) and (min-height: 640px) and (max-height:896px){
    .navbar-toggler {
        margin-top: 1rem;
    }
    .navbar-brand-img {
        display: flex !important;
        max-width: 100%;
        height: 100%;
    }
    .navbar.collapsing,
    .navbar.show {
        padding: 0;
        margin-top: 1rem;
        background:rgba(0, 0, 0, 0.549) !important;
    }
    


    .imgleft{
        display: none !important;
    }
    .gallery-title h1 {
        font-size: 70px;
    }
    .gallery-card {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .container-about-us {
        margin-bottom: 25rem;
    }
    .gallery-card-top,.gallery-card-bottom {
        display: grid;
        width: 100%;
        padding: 0;
        min-height: 100vh;
        justify-content: center;
        grid-template-columns: 900px !important;
        gap: 15px;
    }
    .gallery-card-bottom{
        margin-top: 3vh;
    }
    .gallery-content h6{
        font-size: 16px;
    }

    .about-us-text p {
        font-size: 20px !important;
    }

    .product-title h3{
        font-size: 5.7vw !important;
    }
    .product-title h3:nth-child(1){
        font-weight: 700;
        color: red;
    }
    .product-title h3:nth-child(2){
        font-weight: 700;
        margin-left: .3vw;
    }

    .handshake-dot {
        width: 10vw;
    }

    .culture{
        margin-bottom: 15vh;
    }
    .culture-card-container {
        display: grid;
        width: 100%;
        padding: 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        min-height: 100vh;
        grid-template-columns: 100%;
        gap: 15px;
    }
    .culture-card{
        width: 80% !important;
        height: 100% !important;
        margin-top: 13vh !important;
    }
    .culture-card-img{
        padding: 0;
    }
    .culture-card-content h3{
        font-size: 6.7vw;
    }
    .culture-card-content p{
        padding-bottom: 3rem;
        font-size: 4.3vw;
    }
    .culture-card:nth-child(3) .culture-card-content p{
        padding-bottom: 5rem;
    }
    .our-partner-logo .inline {
        width: 100%;
        height: 2px;
        background: #000;
        margin-top: -.1rem;
        margin-left: -0rem;
    }
    .product-title h3{
        font-size: 3.7vw;
    }
    .container-solution{
        margin-top: 8rem !important;
        height: 230vh !important;
    }
    .text-solution-1 p{
        font-size: 16px !important;
    }
    .solution-overlay {
        height: 230vh !important;
        background: rgba(0, 0, 0, 0.8);
        }
    .product-top{
        margin-top: 1rem;
    }
    .product-card {
        width: 100%;
        height: 250px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    }
    .product-card-container{
        display: grid;
        width: 100%;
        padding: 0;
        min-height: 120vh;
        grid-template-columns: 220px 220px;
        gap: 15px;
    }
    .product-card-img img{
        width: 220px;
    }
    .product-card-content h6 {
        font-size: 4vw;
    }
    .btn-contact {
        width: 210px;
        margin: 0;
        height: 45px;
        background: #9C2C2C;
        border-radius: 5px;
        cursor: pointer;
    }
    .title-btn {
        padding: 0 !important;
        margin: 10px 0!important;
        text-align: center;
    }
    .container-handshake{
        height: 53vh;
    }
    .handshake-overlay{
        width: 100%;
        height: 53vh;
        background: rgba(0, 0, 0, 0.5);
        background-size: cover;
    }
    .handshake-content {
        padding-top: 15vh;
    }
    .solution-overlay {
        height: 170vh;
        background: rgba(0, 0, 0, 0.8);
    }
    .colomn-img-our h2{
        font-size: 18px;
    }
    .swiper-slide img {
        display: block;
        width: 180px;
        margin: 0;
        padding: 0;
        height: 300px;
        object-fit: cover;
    }
    .swiper-slide {
        margin-left: 10rem !important;
    }
    .our-partner-img {
        display: grid !important;
        justify-content: center !important;
        grid-template-columns: 100%;
        text-align: center !important;
        align-items:center !important;
        gap: 5rem !important;
        margin-left: -0.1rem !important;
    }
    .our-team-img {
        display: block;
        width: 100%;
        margin-top: 5vh;
        padding-bottom: 10vh;
    }
    .our-team-img .img-1,.img-2,.img-3,.img-4,.img-5{
        margin-top: 2vh !important;
        min-height: 100%;
    }
    .img-team{
        max-width: 60%;
    }
    .textnya h4{
        margin-left: 0 !important;
        text-align: center;
        font-size: 6vw;
    }
    .textnya p{
        font-size: 4vw !important;
    }
    .culture-img1 {
        width: 25vw;
    }
    .topnyaya {
        margin-top:-5rem;
    }
    .topnyaya5 {
        margin-top:-2.6rem !important;
    }
    .our-img-2 {
        margin-top:-4rem !important;
    }
    .colomn-img-our img {
        width: 185px;
    }



    .container-footer{
        display: block !important;
    }
    .our-client{
        margin-top: 8rem !important;
        display: grid !important;
        grid-template-columns: 80%;
        height: 60rem !important;
    }
    .column{
        display: grid !important;
        width: 100% !important;
        grid-template-columns: 100% !important;
    }
    .column-line{
        margin-top: 4.2rem;
    }
    .colomn-img-our:nth-child(1) h2 br:nth-child(1),
    .colomn-img-our:nth-child(1) h2 br:nth-child(3),
    .colomn-img-our:nth-child(1) h2 br:nth-child(4){
        display: none;
    }
    .colomn-img-our:nth-child(3) h2 br{
        display: none;
    }
    .colomn-img-our:nth-child(4) h2 br:nth-child(1){
        display: none;
    }
    .colomn-img-our:nth-child(5) h2 br:nth-child(1){
        display: none;
    }
    .column-topnya {
        margin-top: -7rem !important;
    }
    
    .content-solution{
        display: block !important;
    }
    .btn-contact{
        top: 0 !important;
        position: relative !important;
    }
    
    .title-btn{
        display: flex !important;
        height: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    }


    .container-footer{
        margin-top: 0;
    }
    .footer-top{
        display: block !important;
    }
    .footer-address {
        width: 100%;
        height: 100%;
    }
    .footer-map{
        width: 100% !important;
        margin-top: 2rem;
        margin-left: 0;
    }
    .footer-map h2 {
        font-weight: bold;
        font-size: 18px;
    }
    .footer-socmed h2 {
        font-weight: bold;
    }
    .mapouter{
        width: 100% !important;
    }
    .gmap_canvas{
        width: 100% !important;
    }
    .footer-socmed {
        margin-top: 2rem;
        width: 50%;
        height: 100px;
    }
    .footer-socmed-content{
        gap: 7vw;
    }
    .footer-socmed-btn {
        width: 10vw;
        height: 10vw;
        margin-left: 0;
    }
    .footer-socmed-btn i, .footer-socmed-btn a {
        font-size: 5.2vw;
    }
    


    .whatsapp-logo{
        width: 9vw;
        height: 9vw;
    }
    .whatsapp-logo i, .whatsapp-logo a {
        font-size: 5vw;
    }
} */
